@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Variáveis para o gradiente neon */
  --neon-color-1: #0f172a;
  --neon-color-2: #9090e7;
  --neon-color-3: #0f172a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    /* Ajuste de cores para o tema escuro */
    --neon-color-1: #1a1a40;
    --neon-color-2: #484855;
    --neon-color-3: #1a1a40;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", Arial, Helvetica, sans-serif;

  /* Estilo do fundo animado */
  background: linear-gradient(
    135deg,
    var(--neon-color-1),
    var(--neon-color-2),
    var(--neon-color-3)
  );
  background-size: 400% 400%;
  animation: neonBackground 10s ease infinite;
}

@keyframes neonBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}
